/* You can add global styles to this file, and also import other style files */


// see node_modules/bootstrap/scss/_variables.scss
$primary: #ef7b10 !default;
$secondary: #052554 !default;
$enable-rounded: false !default;


@import '~@angular-schule/workshop-styles/index';

